{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">Modification du mot de passe utilisateur</h1>

        {# !!!!! MESSAGE FLASH !!!!! #}
        {% for message in app.flashes('danger') %}          {# danger = Nom de l'alerte  #}
            <div class="alert alert-danger mt-4">           {# alert-danger = Type d'alerte Bootstrap #}
                <h5>{{ message.info }}</h5>
                {{message.bonus}}
            </div>
        {% endfor %}

        {{ form(form) }}
    </div>

{% endblock %}